{% extends 'smbapp/base.html' %}

{% load static %}

{% block contenido %}
                       
{% if request.user.is_authenticated %}
    {% if errors %}
        <p style="color: red">Error: {{errors}}</p>
    {% endif %}
    <center>
        {% for profile in profiles %}
            <h3>User # {{profile.username}}</h3>
                        <div class="card my-4">
                                <div class="card-body">
                                    <h6 class="card-title">E-Mail : {{ profile.email }}</h6>
                                    <h6 class="card-subtitle mb-2 text-muted">Name: {{ profile.first_name }} </h6>
                                    <h6 class="card-subtitle mb-2 text-muted">Lastname: {{ profile.lst_name }} </h6>
                                </div>
                            <a class="btn btn-primary" href="">Edit Profile</a>
                        </div>
        {% endfor %}
    </center>
{% else %}
    <p class="small text-muted mb-4 mb-lg-0">Hola Visitante</p>
{% endif %}


{% endblock %}